name: JavaFX Build (Gradle)

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean shadowJar

      - name: Build using Gradle
        run: ./gradlew clean build --exclude-task spotlessCheck

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: satyam-consignment
          path: build/libs/*